# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
.venv/
venv/
env/

# Databases
*.sqlite3
*.db

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store

# Packaging
*.egg-info/
dist/
build/
.DS_Store
